<header>
  <ul>
    <li>
      <a href="" [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']"
        >Sobre mi</a
      >
    </li>
    <li>
      <a href="" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']"
        >Proyectos</a
      >
    </li>
    <li id="logo"><a href="#">CU</a></li>
    <li>
      <a
        href=""
        [routerLink]="['/crear-proyecto']"
        [routerLinkActive]="['actived']"
        >Crear proyecto</a
      >
    </li>
    <li>
      <a href="" [routerLink]="['/contacto']" [routerLinkActive]="['actived']"
        >Contacto</a
      >
    </li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>Portfolio Cristian Uhrig &copy; - made with Angular</footer>
