<div class="container">
  <h1>Contacto</h1>
  <div #textos>
    <p>Envianos cualquier duda</p>
  </div>

  <!-- <label for="">Tamaño del slider: </label>
  <input type="number" [(ngModel)]="widthSlider" />
  <button (click)="cargarSlider()">Cargar Slider</button>
  <button (click)="resetSlider()">Resetear Slider</button>
  <div class="">
    <app-slider
      [width]="widthToSlider"
      (getAutor)="getAutor($event)"
    ></app-slider>
  </div>

  {{ autor.nombre + " " + autor.website }} -->
</div>
