<div id="title">
  <h1>{{ title }}</h1>

  <h2>{{ subTitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, iusto
    nostrum? Magni nisi veritatis qui quidem, incidunt dicta voluptas corporis,
    molestiae, officia in deleniti! Facere laudantium reprehenderit dolore
    placeat id excepturi maxime repellat explicabo vel, cumque quas nihil
    deserunt quos unde, iure ab dolor totam libero molestias doloremque adipisci
    officia quaerat. Quibusdam quas distinctio aperiam illum! Repellat, libero!
    Sint magni illum aliquam ex repellendus porro dolor earum at ad dolores
    repudiandae beatae ipsum cumque hic ut, molestiae, similique laborum, non
    veritatis impedit tempore alias. Commodi, iusto cum. Porro ducimus officia
    quis iste, facere, inventore, aperiam provident earum qui debitis totam.
  </p>
</article>
