<div class="container">
  Tamaño del slider: <strong>{{ width }}</strong> <br />
  <div class="bxslider">
    <div>
      <img src="https://via.placeholder.com/350x200" title="Funky roots" />
    </div>
    <div>
      <img
        src="https://via.placeholder.com/350x200"
        title="The long and winding road"
      />
    </div>
    <div>
      <img src="https://via.placeholder.com/350x200" title="Happy trees" />
    </div>
  </div>

  <button (click)="sendAutor($event)">Conseguir Autor</button>
</div>
