<div class="container" *ngIf="project">
  <div class="imageDetail">
    <img
      src="{{ url + 'get-image/' + project.image }}"
      *ngIf="project.image"
      alt=""
    />
  </div>
  <div class="data">
    <h1>{{ project.name }}</h1>
    <h3>{{ project.description }}</h3>
    <p>{{ project.category }}</p>
    <p>{{ project.langs }}</p>
    <p *ngIf="confirm == false">
      <a [routerLink]="['/editar-proyecto', project._id]" class="btn-edit"
        >Editar</a
      >
      <a (click)="btnConfirm(true)" class="btn-delete">Borrar</a>
    </p>
    <p *ngIf="confirm">
      <a (click)="btnConfirm(false)" class="btn-edit">Cancelar</a>
      <a (click)="deleteProject(project._id)" class="btn-delete"
        >Borrar definitivamente</a
      >
    </p>
  </div>
</div>
