/*Importar fuentes custom*/
@font-face {
  font-family: "yanone";
  src: url("./fonts/yanone.ttf");
}
@font-face {
  font-family: "finger";
  src: url("./fonts/finger.ttf");
}
@font-face {
  font-family: "titilium";
  src: url("./fonts/titilium.ttf");
}

/* GENERALES */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "yanone", Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: url("../img/pattern.png");
  background-attachment: fixed;
}

.clearfix {
  float: none;
  clear: both;
}

/* Header */
header {
  display: block;
  width: 100%;
  height: 90px;
  background: rgba(53, 103, 164, 0.8);
  position: fixed;
  text-transform: uppercase;
}

header ul {
  list-style: none;
  display: block;
  width: 42%;
  height: inherit;
  margin: 0px auto;
  margin-top: -4px;
}

header ul li {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 90px;
}

header ul li a {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

header ul li a:hover,
.actived {
  background: rgba(0, 0, 0, 0.7);
}

/* LOGO */
#logo {
  font-family: "finger";
  font-size: 30px;
}

#logo a {
  transition: color 0.5s, transform 0.5s;
}

header ul #logo a:hover {
  background: transparent;
  color: #000;
  transform: rotate(-15deg) scale(1.5);
}

/* PRINCIPAL */
#content {
  min-height: 100vh;
  height: auto;
  width: 80%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px #000;
  background: rgba(255, 255, 255, 0.7);
  padding: 100px 50px;
  padding-top: 120px;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}

/* FOOTER */
footer {
  width: 80%;
  margin: 0px auto;
  padding: 25px 0px;
  color: rgba(0, 0, 0, 0.6);
}

/* ABOUT */
#title {
  width: 70%;
  display: block;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#title h1 {
  font-family: "finger";
  font-size: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#title h2 {
  font-size: 25px;
  color: gray;
  margin: 5px 0px;
}

article.about {
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 17px;
}

article.about h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

article.about p {
  padding: 20px 0px;
  text-align: justify;
}

/* CREATE PROJECT */
.container {
  height: auto;
}

.container h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: block;
}

form {
  width: 40%;
}

form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 5px;
}

form button,
form input[type="submit"] {
  font-size: 17px;
  padding: 10px;
  display: block;
  margin-top: 15px;
  color: #fff;
  background: rgba(53, 103, 164, 1);
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

form button:hover,
form input[type="submit"]:hover {
  background: rgb(88, 130, 180);
  color: #fff;
}

form input[disabled] {
  background: #ccc;
  color: black;
  cursor: not-allowed;
}

form input[disabled]:hover {
  background: #ccc;
  color: black;
}

.formError {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(196, 0, 0);
}

.message {
  padding: 5px 10px;
  border: 1px solid #eee;
  display: inline;
}

.message.success {
  background: green;
  color: #fff;
}

.message.success a {
  color: #fff;
}

.message.error {
  background: red;
  color: #fff;
}

/* PROJECTS */

.project {
  list-style: none;
  display: block;
  float: left;
  width: 26%;
  text-align: center;
  margin: 5px 20px;
  padding: 10px;
}

.project img {
  width: 100%;
}

.project .image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.project a {
  text-decoration: none;
  color: #000;
}

.imageDetail {
  display: block;
  float: left;
  width: 300px;
  height: 250px;
  overflow: hidden;
  margin-right: 15px;
}

.imageDetail img {
  width: 100%;
}
.data a {
  text-decoration: none;
}

.btn-edit,
.btn-delete {
  display: inline-block;
  font-size: 17px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit {
  background-color: orange;
}

.btn-delete {
  background-color: rgb(196, 0, 0);
}
