* {
  text-decoration: none;
}

.precioAlto {
  color: whitesmoke;
  font-size: 18px;
}

.fondoRojo {
  background: red;
}

.subrayado {
  text-decoration: underline;
}

.active {
  color: blue;
  font-weight: bold;
}

nav a {
  color: black;
}
