<!-- Pipes de fecha -->
<p>{{ fecha | date: "fullDate" }}</p>
<p>{{ fecha | date: "dd/MM/yy" }}</p>
<hr />

<!-- Pipes de texto -->
<p>{{ "Lorem ipsum dolor sit amet." | uppercase }}</p>
<p>{{ "TEXTO CONVERTIDO A MINUSCULAS CON UNA PIPE" | lowercase }}</p>
<hr />
<!-- Pipe personalizada -->
<p>{{ 10 | calculadora: 2 }}</p>

<input type="text" [(ngModel)]="userId" (keyup.enter)="cargarUsuario()" />

<div class="" *ngIf="!user">Cargando</div>

<div class="" *ngIf="user">
  <h2>{{ user.first_name + " " + user.last_name }}</h2>
  <img src="{{ user.avatar }}" alt="" width="150px" />
</div>
